@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proximanova-regular.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova-SemiBold';
  font-style: normal;
  src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-semibold.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 200;
  src: local('ProximaNova Thin'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-thin.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src: local('ProximaNova Light'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-light.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proximanova-regular.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 500;
  src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-semibold.otf) format('truetype');
}
